<div>
    <p>Hello {{username}}, Welcome to the WWNorton "Your Projects Test" dashlet</p>
    
    <button class="btn btn-default testbutton">Test me</button>
    {{#each sites}}    
     <p>{{title}}</p>

        <a href="{{browseUrl}}">
            {{browseUrl}}
        </a>
    {{/each}}
</div>
