<div>
    <p>Hello {{username}}, Welcome to the WWNorton "Your Projects Subhash" dashlet</p>
    <p> here is your information {{accessToken}} </p>
   <!--    {{username}} model.username </br>
       {{accessToken}} model.accessToken  </br>
       {{repoId}} model.repoId  </br>
       {{branchId}} model.branchId  </br> </p>

   <button class="btn btn-default testbutton">Test me</button>
    {{#each sites}}    
     <p>{{title}}</p>

        <a href="{{browseUrl}}">
            {{browseUrl}}
        </a>
    {{/each}}
    -->
</div>
